################################################################################
# 이 .gitignore 파일은 Microsoft(R) Visual Studio에서 자동으로 만들어졌습니다.
################################################################################

/aruco_test/obj
/WpfApp2/obj
/.vs/MyPjt/DesignTimeBuild
/WpfApp2/.vs/MyPjt/DesignTimeBuild
/WpfApp2/.vs/ProjectEvaluation
/.vs/MyPjt/CopilotIndices/17.14.1347.20289
/.vs/MyPjt/FileContentIndex
/.vs/MyPjt/v17
